/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans;    
}

span {
    display: inline-block;
}

body {
    overflow: hidden; 
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    color: white;
    font-size: 12px;
    width: max-content;
    display: block;
}

select {
    width: 100%;
    height: 36px;
}

textarea {
    width: 100%;
}

/* TEXTOS Y TÍTULOS */

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

h4 {
    font-size: 12px;
    margin: 10px 0;
}

/* HEADER */

header {
    background-color: #191E2B;
    width: 100%;
    height: 90px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Barra de navegación */

nav {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    list-style: none;
}

/* Botones nav bar */

.nav-button {
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 3px;
    font-size: 12px;
    border-style: none;
    background-color: transparent;
}

.nav-button:hover {
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: #4e5565;
}

.nav-button:focus {
    outline: 0;
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: #4e5565;
}

#darkmode-button {
    display: none;
}

/* MAIN */

main {
    width: 100%;
    height: 100%;
    background-color: #30343F;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Meme canvas */

#image-container {
    width: 460px;
    height: 460px;
    background-color: black;
    margin-top: 15px; 
    position: relative;
    
    display: flex;
    flex-direction: column;
}

#meme-image {
    width: 100%;
    height: 275px;
    flex-grow: 1;
    background-color: black;
    background-image: none;
    background-size: cover;
    background-blend-mode: unset;
    filter: unset; 
}

#top-text {
    width: 100%;
    padding: 28px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: white;
    text-align: center;
    position: static;
}

#bottom-text {
    width: 100%;
    padding: 28px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: white;
    text-align: center;
    position: static;
}

/* Botón de descarga */

.download-button {
    width: max-content;
    padding: 8px;
    margin-top: 20px;
    background-color: #2e7d32;
    color: white;
    border-style: none;
    border-radius: 2px;
}

.download-button:hover {
    transition-property: background-color;
    transition-duration: 250ms;
    background-color: #1b5e20;
}

.download-button:focus {
    outline: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    background-color: #1b5e20;
}


/* ASIDE */

aside {
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: #252935;
    color: white;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

/* Botón cerrar */

.close-button-container {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#close-aside {
    width: max-content;
    background-color: transparent;
    color: white;
    outline: 0;
    border-style: none;
    display: none;
}

/* Contenedores */

#text-panel {
    display: none;
}

.bgfilters-container {
    width: 100%;

    display: flex;
}

.color-container {
    width: 50%; 
    font-size: 14px;
    margin-right: 2.5px;
    
    display: flex;
    flex-direction: row;
}

.select-container {
    width: 50%; 
    font-size: 14px;
    margin-left: 2.5px;
    
    display: flex;
    flex-direction: row;
}

.checkbox-container {
    margin-top: 10px;

    display: flex;
    align-items: center;
}

.fonts-container {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.text-align-container {
    width: calc(50% - 2.5px);
    margin-left: 2.5px;

    display: flex;
    justify-content: space-between;
}

.text-color-container {
    width: 100%;
    display: flex;
}

.flex-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.txt-color-container {
    font-size: 14px;
    margin-right: 2.5px;

    display: flex;
    flex-direction: row;
}

.bg-color-container {
    font-size: 14px;
    margin-left: 2.5px;

    display: flex;
    flex-direction: row;
}

.outline-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

/* Inputs */

.color-input {
    background-color: transparent;
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 5px;
    line-height: 25px;
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
    width: 15px;
}

.color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.input-control {
    background-color: #393e49;
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 25px;
}

.input-control:hover {
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: #4e5565;
}

.input-control:focus {
    background-color: #4e5565;
    outline: 0;
}

input[type='url'] {
    width: 100%;
}

.range {
    width: 100%;
    background-color: #5a5d68;
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin-bottom: 10px;
    margin-top: 8px;
}

input[type='checkbox'] {
    margin: 0 5px 0 0;
}

#text-font-size {
    width: calc(50% - 2.5px);
    margin-right: 2.5px;
}

#text-padding {
    width: 100%;
}

/* Botones */

.reset {
    width: max-content;
    font-size: 14px;
    padding: 7px;
    margin-top: 20px;
    background-color: #393e49;
    color: white;
    border-style: none;
    border-radius: 3px;
}

.reset:hover {
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: #4e5565;
}

.reset:focus {
    outline: 0;
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: #4e5565;
}

.style-button {
    background-color: #393e49;
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 25px;
    width: max-content;
    font-size: 14px;
}

.style-button:hover {
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: #4e5565;
}

.style-button:focus {
    background-color: #4e5565;
    outline: 0;
}





















