/* BREAKPOINT 1300px: aside desaparece y puede abrirse y cerrarse con botones */

@media screen and (max-width: 1300px) {
    aside {
        width: 30%;
        display: none;
    }

    #close-aside {
        display: block;
    }

    .style-button {
        width: 32%;
    }

    body {
        overflow: scroll;
    }
}

/* BREAKPOINT 700px: aside ocupa 100%. Desaparece y puede abrirse y cerrarse con botones */

@media screen and (max-width: 700px) {
    aside {
        display: none;
        width: 100%;
    }

    #close-aside {
        display: block;
    }

    .style-button {
        width: 32%;
    }
}

/* BREAKPOINTS cambio de ancho de imagen */

@media screen and (max-width: 500px) {
    #image-container {
        width: 360px;
    }
}

@media screen and (max-width: 400px) {
    #image-container {
        width: 300px;
    }
}


