/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Header */

header {
    background-color: midnightblue;
    width: 100%;
    height: 100px;
    color: white;
    flex-direction: column;
}

h1 {
    text-align: center;
}

nav {
    flex-direction: row;
    text-align: center;
}

li {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

/* Main */

main {
    width: 100%;
    height: 100%;
    background-color: #30343F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blanco {
    width: 400px;
    height: 400px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.negro {
    width: 400px;
    height: 300px;
    background-color: black;
}

.download {
    width: max-content;
}

/* Aside */

aside {
    position:fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #252935;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}